{% include 'header.twig' %}





<div class="app-content blog-inner">
    <div class="container">
        <section class="bi-head-wrapper">
            <div class="bi-head-box">
                <div class="bi-head-bg">
                    <img src="https://cdn.smmspot.net/cloutsy/assets/img/blog-inner.png" alt="">
                </div>
                <div class="bi-head-content">
                    <div class="bi-cat-wrapper">
                        <a href="#" class="bi-cat">
                            New Order
                        </a>
                    </div>
                    <div class="bi-title">
                        <h1>Mass Order</h1>
                    </div>
                </div>
            </div>
        </section>
     
        <section class="blog-content">
            <div class="card card-border">
                <div class="card-body p-4">
                    <div class="bi-content">
                        
                        
                          {% if error %}
        <div class="alert alert-dismissible alert-danger {% if site['rtl'] %} rtl-alert {% endif %}">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ errorText }}
        </div>
      {% elseif success %}
        <div class="alert alert-dismissible alert-success {% if site['rtl'] %} rtl-alert {% endif %}">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ successText }}
        </div>
      {% endif %}
                        
                    <form method="post" action="massorder">
            <div class="form-group">
              <label for="quantity" class="control-label">One order per line in format</label>
              <textarea type="text" class="form-control" id="mass" name="mass" value="{{ data['mass'] }}" placeholder="service_id | link | quantity"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
                  </div>
                </div>
            </div>
        </section>
 
    </div>
</div>






{% include 'footer.twig' %}